.page_course
  .sectionAbout
    .col-sm-8
      +colExtend("left")
      padding: 25px
      box-shadow: 15px 15px $colorOrange
      p
        text-align: justify
    .col-sm-4
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column

  .sectionCatas
    .col-sm-3
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column

      img
        width: 100%
        max-width: 200px

      h4
        opacity: 0.5
        margin-bottom: 0
        margin-top: 40px
      h3
        margin-top: 10px
        letter-spacing: 2px